#admin-article{
    @include responsive($lg){
            width: 90%;
    }
    @include responsive($xs){
        width: 80%;
    }
}

.tableaux {
    font-family    : Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width          : 100%;
    border-collapse: collapse;
    border-radius  : 10px;
}

.tableaux td,
.tableaux th {
    border : 1px solid #ddd;
    padding: 8px;
}

.tableaux tr:nth-child(even) {
    background-color: #f2f2f2;
}

.tableaux tr:hover {
    background-color: #ddd;
}

.tableaux th {
    padding-top     : 12px;
    padding-bottom  : 12px;
    text-align      : left;
    background-color: #ddd;
    color           : white;
}

.tableaux-title {
    background-color: $body-color;
}