//VARIABLES SASS ::after
$greenmain      : #015252;
$body-color     : #1F7A8C;
$textmain       : #ffffff;
$text-title     : #02C9C9;
$text-color     : #BFDBF7;
$mainbackground : linear-gradient(to bottom, $greenmain 50%, #ffffff 12%);
$btn-color      : #02C9C9;

//Responsive Design : 
$xl : 87.5em; // 4k and hi-res desktop
$lg : 60em; // 1080 and hi-res laptops
$med: 40em; // hi-res tablets and low-res laptops
$sm : 28em; // mobile and low-res tablets
$xs : 20em; // mobile only

//Police d'écriture
@import url('https://fonts.googleapis.com/css2?family=Itim&family=Lobster&display=swap');